# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
notes-app/node_modules
weather-app/node_modules
web-server/node_modules
task-manager/node_modules
config
playground
task-manager/config
task-manager/playground
node_modules
package-lock.json
config/*.env
config
.env
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs
