<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    
    <title>Weather app</title>
</head>
<body>
    <div style="margin-left: 50px;">
        <h1>Forecasting App </h1>
        <form >
            <input name="address" type="text" placeholder="Enter an address"> <button type="submit">Forecast</button>
        </form>

        <p class="message-1"></p>
    </div>
    
    <script src="./js/app.js"></script>
</body>
</html>